#main {
	display: none;
}

html, body {
	font-family: 'Kanit', sans-serif;
	width: 100%;
	height: 100%;
	background: #EEEEEE;
	color: #616161;
}

.img-res {
	max-width: 100%;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pull-left {
	display: block;
	float: left;
}

.pull-right {
	display: block;
	float: right;
}

.user-zone {
	background: #FFD428;
	padding-top: 10px;
}

.chat-zone {
	background: #E43737;
	height: 500px;
	padding: 10px;
}

@media (min-width: 1300px) {
	.chat-zone {
		height: 750px;
	}
}

.usr-online {
	width: 100%;
	background: #3F51B5;
	color: #FFF;
	font-size: 25px;
	margin-top: 40px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.usr-online > div {
	padding: 10px 20px;
}

.list-online {
  width: 100%;
  background: #EEE;
  margin: 0;
  height: 210px;
  overflow-y: scroll;
}

@media (min-width: 1300px) {
	.list-online {
		height: 457px;
	}
}

.messagebox {
	margin: 15px 0;
}

.textbox {
	background: #FFF;
	width: 60%;
	height: 28px;
	padding-left: 20px;
	margin-right: 10px;
	border-radius: 2px;
	float: right;
}

.sending {
	float: right;
}

/* text-chatbox */
.chat-area {
	background: #EEEEEE;
	padding: 0 2%;
	max-width: 96%;
	height: 415px;
	border-radius: 5px;
	font-size: 17px;
	padding-top: 5px;
	overflow-y: scroll;
}

@media (min-width: 1300px) {
	.chat-area {
		height: 660px;
	}
}

.message-me, .message-other {
	background: #FFF;
	padding: 5px 10px;
	margin: 10px 0;
	clear: both;
	word-wrap: break-word;
	max-width: 60%;
}

.message-system {
	text-align: center;
}

.message-me {
	float: right;
	text-align: right;
}

.message-other {
	float: left;
	text-align: left;
}